{% extends 'Base/base.html' %}

{% block body%}
<form class="form-control" method="post">{% csrf_token %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <div class="form-group">
    <label for="username"> User name : </label>
    <input class="form-control" type="text" name="username" >
  </div>

</div>
</div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <div class="form-group">
    <label for="Password"> Password : </label>
    <input class="form-control" type="password" name="password" >
  </div>

</div>
</div>

<input class="btn-primary btn-lg" type="submit" name="" value="Login">
</form>

{% endblock %}
